extends layout.jade
block content
  style.
    a {color: black;margin: 5px; text-decoration: none;}

    .dropdown-menu li:hover .sub-menu {
    visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    }

    .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
    }
  form(name='search', method='POST', action='personal')
    table(style='border-collapse: collapse; ')
      tr
        td(colspan='4', style='padding: 0px; text-align: left; ')
          span.w3-margin-right Filter:
      tr
        td(style='padding: 2px 2px')
          .w3-dropdown-hover
            select.w3-button(name='select')
              option(selected='', disabled='')  All
              option(value='id')  Student ID
              option(value='name') Student Name
              option(value='assist')  Assistant Name
              option(value='course')  Course Name
        td(style='padding: 2px 2px')
          .w3-dropdown-hover
            select.w3-button(name='year')
              option(selected='', disabled='')  year
              option(value='1')  1
              option(value='2')  2
              option(value='3')  3
              option(value='4')  4
              option(value='superjunior')  super junior
        td
          input(name='by',type='text',placeholder='Search...')
        td
          input.w3-button(value='Search', type='submit', style='border:1px solid #ddd;')
        td(style='padding: 2px 2px')
          i.fa.fa-file-pdf-o(style='font-size:36px;color:red')


  h5.sub-header All
  .table-responsive
    table.table.table-striped
      thead
        tr
          th #
          th Student ID
          th Student Name
          th Name
          th Profile
      tbody
        tr
          td 1,001
          td Lorem
          td ipsum
          td
            a(href='profile')
              span.glyphicon.glyphicon-list-alt(aria-hidden='true')
          td sit
        
